ul.flowchart>li.list-arrow {
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size:1.3em;
}
ul.flowchart>li>a {
	-moz-border-radius: 15px !important;
	border-radius: 15px !important;
	text-align:center;
}

li.active .btn-flowchart {
	background-image: none;
    outline: 0;
    .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
}

.flowchart > li > a {
	display:block;
}



div.span3 {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	background-color:lighten(@linkColor, 55%);

}

div.span3 > div {
	padding-left:10px;
}

div.span9 {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	margin-left:0px;
	background-color:@white;
}

.padded {
	padding-left:20px;
	padding-right:20px;
}

div.row {
	overflow:hidden;
}

div.sidebar-nav {
	 padding-top:7em;
}
div.span9 ol,ul {
	padding-left:5px;
}
@media (max-width: 767px) {
  div.span3 .affix {
	position: static;
	width: auto;
	top: 0;
  }
  div.sidebar-nav {
	padding-top:0px;
  }
}

div.accordion-table {
	padding:0;
}

div.accordion-table table {
	margin-bottom:0px;
	border:none;
}

div.accordion-table table tr td:first-child:not(.border-fix), div.accordion-table table tr th:first-child:not(.border-fix) {
	border-left:none;
}

.note {
	background-color: @wellBackground;
}

ol.summary_list li {
	padding-bottom:2em;
}