<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gibson Isothermal Assembly</title>
		<link href="./css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".main-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="brand" href="./">Gibson Isothermal Assembly</a>
						<div class="main-collapse nav-collapse collapse">
							<ul class="nav">
								<li{% if page is sameas 'index' %} class="active"{% endif %}><a href="./index.html">Summary</a></li>
								<li{% if page is sameas 'workflow' %} class="active"{% endif %}><a href="./workflow.html">Workflow</a></li>
								<li{% if page is sameas 'materials' %} class="active"{% endif %}><a href="./materials.html">Materials</a></li>
								<li><a href="#" onClick="javascript:printManual();">Print</a></li>
								{#<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										Download
									</a>
									<ul class="dropdown-menu">
										<li><a href="./GibsonManual.zip">HTML</a></li>
										<li><a href="./GibsonManual.pdf">PDF</a></li>
									</ul>
								</li>#}
								<li><a href="./GibsonManual.pdf">Download PDF</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="span3">
					{% block side_menu %}{% endblock %}
					</div>
					<div class="span9">
					<div class="padded">
					{% block content %}{% endblock %}
					</div>
					</div>
				</div>
			</div>
			<div id="push"></div>
		</div>
		<div id="footer">
			<div class="container">
				<p class="muted">Version {{ version }}. <a href="mailto:someone@somewhere.ac.uk">Contact</a>. Content something someone.</p>
			</div>
		</div>
		<iframe id="printFrame" src="GibsonManual.pdf" style="display:none;"></iframe>
		<script src="./js/jquery-1.9.1.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script type="text/javascript">
			function printManual()
			{
				var frame = $('iframe')[0];
				frame.focus();
				frame.contentWindow.print();
			}
		</script>
		{% block js %}{% endblock %}
	</body>
</html>
