<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gibson Isothermal Assembly</title>
		<link href="./css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<div class="row">
							<div class="span9 offset1">
								<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".main-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="main-collapse nav-collapse collapse">
									<ul class="nav">
										<li{% if page is sameas 'index' %} class="active"{% endif %}><a href="./index.html">Summary</a></li>
										<li{% if page is sameas 'workflow' %} class="active"{% endif %}><a href="./workflow.html">Workflow</a></li>
										<li{% if page is sameas 'materials' %} class="active"{% endif %}><a href="./materials.html">Materials</a></li>
										<li class="divider-vertical"></li>
										<li><a href="#" onClick="javascript:printManual();"><i class="icon-print"></i> Print</a></li>
										<li><a href="./GibsonManual.pdf"><i class="icon-download-alt"></i> Download PDF</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% block hero %}{% endblock %}
			<div class="container main-content">
				<div class="row">
					{% block content %}{% endblock %}
				</div>
			</div>
			<div id="push"></div>
		</div>
		<div id="footer">
			<div class="container">
				<p class="muted">Version {{ version }}. <a href="mailto:ja131@cam.ac.uk">Contact</a>. &copy;2013 Ajioka Lab.</p>
			</div>
		</div>
		<iframe id="printframe" src="GibsonManual.pdf"></iframe>
		<script src="./js/jquery-1.9.1.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script type="text/javascript">
			function printManual()
			{
				var frame = $('iframe#printframe')[0];
				frame.focus();
				frame.contentWindow.print();
			}
			$('.a_tooltip').tooltip({placement:'right'});
		</script>
	</body>
</html>
