{% set page = 'print' %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Gibson Isothermal Assembly</title>
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			@page {
				@bottom-right {
					content: 'Version {{ version }}';
				}
			}
		</style>
	</head>
	<body>
		<div class="break">
			<div class="page-header"><h2>Summary</h2></div>
			{% include 'index_content.html' %}
		</div>
		<div class="break">
			<div class="page-header"><h2>Workflow</h2></div>
			{% include 'workflow/design.html' %}
		</div>
		<div class="break">
			{% include 'workflow/primers.html' %}
		</div>
		<div class="break">
			{% include 'workflow/pcr.html' %}
		</div>
		<div class="break">
			{% include 'workflow/gel.html' %}
		</div>
		<div class="break">
			{% include 'workflow/assembly.html' %}
		</div>
		<div class="break">
			{% include 'workflow/transformation.html' %}
		</div>
		<div class="break">
			{% include 'workflow/plasmid.html' %}
		</div>
		<div class="break">
			{% include 'workflow/verification.html' %}
		</div>
		<div>
			<div class="page-header"><h2>Materials</h2></div>
			{% include 'materials_content.html' %}
		</div>
	</div>
	<script type="text/javascript">
		window.print();
	</script>
	</body>
</html>
